grocery.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="grocery">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="empid" type="xs:unsignedByte" />
              <xs:element name="empname" type="xs:string" />
              <xs:element name="empaddress" type="xs:string" />
              <xs:element name="empphone" type="xs:unsignedShort" />
              <xs:element name="empsalary" type="xs:unsignedInt" />
              <xs:element name="empmail" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>